$color-primary:rgba(0,0,0,0.55);
$color-black:rgba(0,0,0,1);
$color-white:#fff;
$font-family-restora:'restora';
$color-graywhite:#707070;
$color-gray-button:#6b6c6a;
$color-gray-greeny:#576948;
$color-gray-1:#505050;
$color-red-filter:#998484;
$color-gray-title:#9a9b99c7;
$color_gray_topbanner:#848484;
$transition-1: 0.1s ease-in-out all;
$transition-2: 0.3s ease-in-out all;
$transition-3: 0.6s ease-in-out all;
$text-indent:2em;
$box-shadow :0px 0px 24px 5px #80808014;
$font-weight :500;
$product-title-size:15px;
$button-font-size: 16px;
$button-color: #6b6c6a;
$product-label-fontsize : 19px;
$margin-top-sections: 15px;
$placeholer-padding-left :0px;
$placeholder-font-weight: 100;

//
// Component:       Variables
// Description:     Defines common values which are used across all components
//
// ========================================================================


// Load deprecated components
// ========================================================================

$deprecated:                                    false !default;

// Breakpoints
// ========================================================================

// Phone Portrait:   Galaxy (360x640), iPhone 6 (375x667), iPhone 6+ (414x736)
// Phone Landscape:  Galaxy (640x360), iPhone 6 (667x375), iPhone 6+ (736x414)
// Tablet Portrait:  iPad (768x1024), Galaxy Tab (800x1280),
// Tablet Landscape: iPad (1024x768), iPad Pro (1024x1366),
// Desktop:          Galaxy Tab (1280x800), iPad Pro (1366x1024)

$breakpoint-small:                              640px !default;  // Phone landscape
$breakpoint-medium:                             960px !default;  // Tablet Landscape
$breakpoint-large:                              1200px !default; // Desktop
$breakpoint-xlarge:                             1600px !default; // Large Screens

$breakpoint-xsmall-max:                         ($breakpoint-small - 1) !default;
$breakpoint-small-max:                          ($breakpoint-medium - 1) !default;
$breakpoint-medium-max:                         ($breakpoint-large - 1) !default;
$breakpoint-large-max:                          ($breakpoint-xlarge - 1) !default;


// Global variables
// ========================================================================

//
// Typography
//
$font-primary:                                   'Montserrat','Noto Kufi Arabic', sans-serif;
$font-serif:                                     'Imbue','Noto Kufi Arabic', serif;

$global-font-family:                             $font-primary, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$global-font-size:                               14px !default;
$global-line-height:                             1.5 !default;      // 24px

$global-2xlarge-font-size:                       2.625rem !default; // 42px
$global-xlarge-font-size:                        2rem !default;     // 32px
$global-large-font-size:                         1.5rem !default;   // 24px
$global-medium-font-size:                        1.25rem !default;  // 20px
$global-small-font-size:                         0.875rem !default; // 14px
$global-xsmall-font-size:                         0.8rem !default; // 11px

//
// Colors
//

$global-color:                                   #0F0B0C !default;
$global-red-color:                                  #D1171E !default;
$global-emphasis-color:                          #AA9828 !default;
$global-muted-color:                             #666 !default;

$global-link-color:                              #0F0B0C !default;
//$global-link-hover-color:                        #AA9828 !default;
$global-link-hover-color:                        #666 !default;

$global-inverse-color:                           #FFF !default;

//
// Backgrounds
//

$global-background:                              #FFF !default;

$global-muted-background:                        #fff !default;
$global-primary-background:                      #000 !default;
$global-secondary-background:                    #FAFAFA !default;

$global-success-background:                      #32d296 !default;
$global-warning-background:                      #faa05a !default;
$global-danger-background:                       #f0506e !default;

//
// Borders
//

$global-border-width:                            1px !default;
$global-border:                                  rgba($global-color,0.07) !default;

//
// Box-Shadows
//

$global-small-box-shadow:                        0 0 15px rgba($global-color,0.05) !default;
$global-medium-box-shadow:                       0 0 15px rgba($global-color,0.15) !default;
$global-large-box-shadow:                        0 0 15px rgba($global-color,0.25) !default;
$global-xlarge-box-shadow:                       0 0 15px rgba($global-color,0.35) !default;

//
// Shades of gray
//
//$color-gray-1:                                   rgba(#0F0B0C,0.07);
$color-gray-2:                                   rgba(#0F0B0C,0.2);
$color-gray-3:                                   rgba(#0F0B0C,0.35);
$color-gray-4:                                   rgba(#0F0B0C,0.5);
$color-gray-5:                                   rgba(#0F0B0C,0.75);
$color-gray-6:                                   rgba(#0F0B0C,0.85);



//
// Spacings
//

// Used in margin, section, list
$global-margin:                                  20px !default;
$global-small-margin:                            10px !default;
$global-medium-margin:                           40px !default;
$global-large-margin:                            70px !default;
$global-xlarge-margin:                           140px !default;

// Used in grid, column, container, align, card, padding
$global-gutter:                                  30px !default;
$global-small-gutter:                            15px !default;
$global-medium-gutter:                           40px !default;
$global-large-gutter:                            70px !default;

//
// Controls
//

$global-control-height:                          40px !default;
$global-control-small-height:                    30px !default;
$global-control-large-height:                    55px !default;

//
// Z-index
//

$global-z-index:                                 1000 !default;

//
// Transition speeds
//
$transition-1:0.15s;
$transition-2:0.3s;
$transition-3:0.5s;

