.asp {
  position: relative;
  height: 0;
  overflow: hidden;
  width: 100%;
}
.asp.contain img {
  object-fit: contain;
}
.asp.cover img {
  object-fit: cover;
}
.asp img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.asp .super-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.4;
}

.asp-08-1 {
  padding-bottom: 125%;
}

.asp-056-1 {
  padding-bottom: 178.5714285714%;
}

.asp-075-1 {
  padding-bottom: 133.3333333333%;
}

.asp-1-1 {
  padding-bottom: 100%;
}

.asp-1-2 {
  padding-bottom: 200%;
}

.asp-3-1 {
  padding-bottom: 33.3333333333%;
}

.asp-3-2 {
  padding-bottom: 66.6666666667%;
}

.asp-3-4 {
  padding-bottom: 133.3333333333%;
}

.asp-2-1 {
  padding-bottom: 50%;
}

.asp-2-2 {
  padding-bottom: 100%;
}

.asp-4-1 {
  padding-bottom: 25%;
}

.asp-4-2 {
  padding-bottom: 50%;
}

.asp-4-3 {
  padding-bottom: 75%;
}

.asp-5-4 {
  padding-bottom: 80%;
}

.asp-4-5 {
  padding-bottom: 125%;
}

.asp-16-9 {
  padding-bottom: 56.25%;
}

.asp-2-3 {
  padding-bottom: 150%;
}

.asp-3-4 {
  padding-bottom: 133.3333333333%;
}

.asp-16-9 {
  padding-bottom: 56.25%;
}

.asp-16-8 {
  padding-bottom: 50%;
}

.asp-100 {
  width: 100%;
  height: 100vh;
}

.asp-70 {
  width: 100%;
  height: 70vh;
}

.asp-50 {
  width: 100%;
  height: calc(60vh - 70px);
}

.asp-80 {
  width: 100%;
  height: calc(80vh - 70px);
}

.asp-90 {
  width: 100%;
  height: calc(90vh - 70px);
}

.asp-5-2 {
  padding-bottom: 40%;
}

.asp-5-3 {
  padding-bottom: 60%;
}

.asp-3-5 {
  padding-bottom: 166.6666666667%;
}

.asp-1122-468 {
  padding-bottom: 41.7112299465%;
}

.asp-906-679 {
  padding-bottom: 74.944812362%;
}

.asp-700-450 {
  padding-bottom: 64.2857142857%;
}

.asp-550-305 {
  padding-bottom: 55.4545454545%;
}

.asp-804-603 {
  padding-bottom: 75%;
}

/*# sourceMappingURL=asp.css.map */
