.asp {
    position: relative;
    height: 0;
    overflow: hidden;
    width: 100%;

    &.contain img{
        object-fit: contain;
    }

    &.cover img{
        object-fit: cover;
    }

    img {
        position: absolute;
        top:0;
        right:0;
        left:0;
        bottom: 0;
        width:100%;
        height: 100%;
    }
    .super-overlay{
        position: absolute;
        top:0;
        right:0;
        left:0;
        bottom: 0;
        width:100%;
        height: 100%;
        background-color: black;
        opacity: 0.4;
    }


}

.asp-08-1{ padding-bottom : calc(calc(100% * 1) / 0.8); }
.asp-056-1{ padding-bottom : calc(calc(100% * 1) / 0.56); }
.asp-075-1{ padding-bottom : calc(calc(100% * 1) / 0.75); }
.asp-1-1{ padding-bottom : calc(calc(100% * 1) / 1); }
.asp-1-2{ padding-bottom : calc(calc(100% * 2) / 1); }
.asp-3-1{ padding-bottom : calc(calc(100% * 1) / 3); }
.asp-3-2{ padding-bottom : calc(calc(100% * 2) / 3); }
.asp-3-4{ padding-bottom : calc(calc(100% * 4) / 3); }
.asp-2-1{ padding-bottom : calc(calc(100% * 1) / 2); }
.asp-2-2{ padding-bottom : calc(calc(100% * 2) / 2); }
.asp-4-1{ padding-bottom : calc(calc(100% * 1) / 4); }
.asp-4-2{ padding-bottom : calc(calc(100% * 2) / 4); }
.asp-4-3{ padding-bottom : calc(calc(100% * 3) / 4); }
.asp-5-4{ padding-bottom : calc(calc(100% * 4) / 5); }
.asp-4-5{ padding-bottom : calc(calc(100% * 5) / 4); }

.asp-16-9{ padding-bottom : calc(calc(100% * 9) / 16); }

.asp-2-3{padding-bottom : calc(calc(100% * 3) / 2);}
.asp-3-4{padding-bottom : calc(calc(100% * 4) / 3);}
.asp-16-9{padding-bottom : calc(calc(100% * 9) / 16);}
.asp-16-8{padding-bottom : calc(calc(100% * 8) / 16);}
.asp-100{width:100%;height: calc(100vh);}
.asp-70{width:100%;height: calc(70vh);}
.asp-50{width:100%;height: calc(60vh - 70px);}
.asp-80{width:100%;height: calc(80vh - 70px);}
.asp-90{width:100%;height: calc(90vh - 70px);}

.asp-5-2{padding-bottom : calc(calc(100% * 2) / 5);}
.asp-5-3{padding-bottom : calc(calc(100% * 3) / 5);}
.asp-3-5{padding-bottom : calc(calc(100% * 5) / 3);}
.asp-1122-468{padding-bottom : calc(calc(100% * 468) / 1122);}

.asp-906-679{padding-bottom : calc(calc(100% * 679) / 906);}
.asp-700-450{padding-bottom : calc(calc(100% * 450) / 700);}


.asp-550-305{padding-bottom : calc(calc(100% * 305) / 550);}
.asp-804-603{padding-bottom : calc(calc(100% * 603) / 804);}








