.common-loader-hide{  animation: hideit 0.5s normal forwards ease-in-out !important; animation-delay: 0.3s !important;  }
.common-loader-initial{  animation: fade-in 0.5s normal forwards ease-in-out; animation-delay: 0s;  }
@keyframes hideit {
    0%   { opacity: 1; }
    90% { opacity: 0; display: none !important; height:100vh; }
    100% { height:0; opacity: 0;  }
}
@-webkit-keyframes fade-in {
    0% {
        display:none;
        opacity: 0;
    }
    1% {
        display:block;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
